In [1]:
from IPython.display import display, Markdown, Latex
import datos.encabezado

# Exploración de datos de COVID19 :octocat:
## Actualizado el: 03-04-2020

### Fecha de hoy: 04/04/20

_Si quieres tener la fecha más reciente,
lee la documentación de este proyecto:
[https://github.com/damian-romero/covid19_mx/blob/master/README.md]_

#### Este archivo te permitirá explorar los datos del contagio de COVID19 [https://www.ecdc.europa.eu/en/publications-data/download-todays-data-geographic-distribution-covid-19-cases-worldwide]

## Paso #1: Cargar los datos
Cargar o "importar" los datos en Python usando un paquete para el manejo de datos llamado "Pandas".

In [177]:
# "Activar" el paquete **Pandas**
from pandas import read_csv

## Paso #2: Abrir la tabla de datos
Abriremos la tabla de datos usando el paquete "Pandas" que acabamos de importar
* Usaremos los datos en versión ".csv".
- Si quieren la versión más reciente de los datos:
    1. Los deben bajar directamente de esta página: http://opendata.ecdc.europa.eu/covid19/casedistribution/csv/
    2. Deben de nombrar el archivo como "covid19.csv"
    3. También tendrán que bajar este proyecto a su computadora y hacerlo correr.  
        **\*Siempre me lleva unos días actualizarlo porque este es solo un proyecto por diversión.**

*La siguiente es la fecha de los datos que actualicé más recientemente:*

In [178]:
datos.encabezado.fecha_actualizacion

'03-04-2020'

*Y el siguiente archivo es la tabla de datos correspondiente:*

In [179]:
datos.encabezado.tabla_de_datos

'covid19_03-04-2020_.csv'

*Abrimos los datos de todo el mundo y después nos enfocaremos en los datos de México.*

In [180]:
folder_datos = 'datos/'
datos_mundo = read_csv(folder_datos + datos.encabezado.tabla_de_datos)
if not datos_mundo.empty:
    display(Markdown(f"""_Tus datos del archivo {datos.encabezado.tabla_de_datos} están cargados_"""))

_Tus datos del archivo covid19_03-04-2020_.csv están cargados_

## Paso #3: Familiarizarnos con los datos
*Los datos vienen en una tabla con varias columnas y filas. Cada columna tiene un nombre distinto, por ejemplo hay una para los nombres de los países, otra para la población del país, etc. Y las filas representan un día de la pandemia en cada país.

*Antes de empezar, elige un número en la siguiente línea en donde dice ```mostrar_los_primeros = 5```. Si substituyes el número 5 por el de tu elección, la tabla te mostrará las primeras X filas de tus datos (te recomiendo no elegir más de 20 para que no sea imposible leer este documento).

In [181]:
mostrar_los_primeros_n = 5

### 3.1. Veamos cómo se ve la tabla, para darnos una mejor idea de los datos**

*La siguiente línea nos mostrará las primeras y últimas filas de la tabla*

In [182]:
datos_mundo.head(mostrar_los_primeros_n)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
0,03/04/2020,3,4,2020,43,0,Afghanistan,AF,AFG,37172386.0
1,02/04/2020,2,4,2020,26,0,Afghanistan,AF,AFG,37172386.0
2,01/04/2020,1,4,2020,25,0,Afghanistan,AF,AFG,37172386.0
3,31/03/2020,31,3,2020,27,0,Afghanistan,AF,AFG,37172386.0
4,30/03/2020,30,3,2020,8,1,Afghanistan,AF,AFG,37172386.0

### 3.2. Veamos con atención los nombres de las columnas**

In [183]:
for numero_columna, columna in enumerate(list(datos_mundo)): 
    print(f"""Columna # {numero_columna + 1} -> {columna}""")

Columna # 1 -> dateRep
Columna # 2 -> day
Columna # 3 -> month
Columna # 4 -> year
Columna # 5 -> cases
Columna # 6 -> deaths
Columna # 7 -> countriesAndTerritories
Columna # 8 -> geoId
Columna # 9 -> countryterritoryCode
Columna # 10 -> popData2018

*Esta es la explicación de los nombres de las columnas:*

- Columna # 1 -> fecha completa
- Columna # 2 -> día (del mes en la siguiente columna)
- Columna # 3 -> mes
- Columna # 4 -> año
- Columna # 5 -> número de casos
- Columna # 6 -> númer de muertes
- Columna # 7 -> países y territorios
- Columna # 8 -> número de identificaión del país o territorio
- Columna # 9 -> código del país o territorio
- Columna # 10 -> población en 2018

### 3.3. Exploremos el número total de filas que tiene la tabla de datos.**

** Recordemos que esto representa la suma del número de días por cada país representado. Algunas columnas están vacías porque el ECDC no tiene ciertos datos (por ejemplo, la población de algunos países no está en la tabla), así que habrá algunas discrepancias en los números de ciertas columnas.

El siguente código nos mostrará el número de datos de cada columna:

In [184]:
datos_mundo.count() # la operación .count() hace un conteo por columna

dateRep                    8502
day                        8502
month                      8502
year                       8502
cases                      8502
deaths                     8502
countriesAndTerritories    8502
geoId                      8482
countryterritoryCode       8427
popData2018                8478
dtype: int64

### 3.4. Ahora veamos cuáles son los países con mayor número de personas infectadas y de muertes del día de la actualización más reciente o del día que tú elijas**

Primero vamos a tomar los datos de la fecha de esta versión de los datos: 01/04/2020

>**\*Nota que puedes jugar con el día siempre y cuando este esté incluído en la tabla**

*Cambia la fecha en ```datos.encabezado.fecha_actualizacion``` en la siguiente línea si quieres ver diferentes días. Usa el formato 'día/mes/año' con comillas y exactamente de esta manera, de lo contrario, el programa te dirá que hay un error: ```'01/04/2020'```*

In [185]:
dia_que_nos_interesa = dia_que_nos_interesa
dia_que_nos_interesa.replace('-','/')

'01/04/2020'

*Creamos una nueva tabla pero ahora elegimos solamente los datos del día que nos interesa*

In [186]:
datos_dia_elegido = datos_mundo[datos_mundo.dateRep == dia_que_nos_interesa]
datos_dia_elegido.head(mostrar_los_primeros_n)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
2,01/04/2020,1,4,2020,25,0,Afghanistan,AF,AFG,37172386.0
88,01/04/2020,1,4,2020,20,3,Albania,AL,ALB,2866376.0
114,01/04/2020,1,4,2020,6,4,Andorra,AD,AND,77006.0
135,01/04/2020,1,4,2020,73,4,Algeria,DZ,DZA,42228429.0
224,01/04/2020,1,4,2020,0,0,Angola,AO,AGO,30809762.0

#### 3.4.1. Personas infectadas**

Ahora vamos a ordenar los datos, **de acuerdo al número de casos en el día elegido**, ordenados de mayor a menor.

In [187]:
datos_dia_elegido.sort_values(by=['cases'], ascending=False).head(mostrar_los_primeros_n)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
8219,01/04/2020,1,4,2020,24998,909,United_States_of_America,US,USA,327167434.0
7270,01/04/2020,1,4,2020,9222,849,Spain,ES,ESP,46723749.0
2781,01/04/2020,1,4,2020,7578,499,France,FR,FRA,66987244.0
3022,01/04/2020,1,4,2020,5453,149,Germany,DE,DEU,82927922.0
4121,01/04/2020,1,4,2020,4053,839,Italy,IT,ITA,60431283.0

#### 3.4.2. Número de muertes**

Ahora vamos a ordenar los datos, **de acuerdo al número de muertes en el día elegido**, ordenados de mayor a menor.

In [188]:
datos_dia_elegido.sort_values(by=['deaths'], ascending=False).head(mostrar_los_primeros_n)

,dateRep,day,month,year,cases,deaths,countriesAndTerritories,geoId,countryterritoryCode,popData2018
8219,01/04/2020,1,4,2020,24998,909,United_States_of_America,US,USA,327167434.0
7270,01/04/2020,1,4,2020,9222,849,Spain,ES,ESP,46723749.0
4121,01/04/2020,1,4,2020,4053,839,Italy,IT,ITA,60431283.0
2781,01/04/2020,1,4,2020,7578,499,France,FR,FRA,66987244.0
8106,01/04/2020,1,4,2020,3009,381,United_Kingdom,UK,GBR,66488991.0

#### 3.4.3. Totales (casos y muertes) en el día elegido**

Veamos los totales del mundo de casos y muertes **de acuerdo al número de muertes en el día elegido**.

In [213]:
# Cálculos
casos_dia_elegido = datos_dia_elegido['cases'].sum()
muertes_dia_elegido = datos_dia_elegido['deaths'].sum()
porcentaje_muertes_infeccion = round(casos_dia_elegido/muertes_dia_elegido, 2)

# Para imrpimir con coma
casos_dia_elegido = str(casos_dia_elegido)
muertes_dia_elegido = str(muertes_dia_elegido)

# Mostrar
display(Markdown(f"""
#### En el día {dia_que_nos_interesa}, al rededor del mundo hubo:

- Casos: {casos_dia_elegido[0:-3]},{casos_dia_elegido[-3:]}
- Muertes: {muertes_dia_elegido[0:-3]},{muertes_dia_elegido[-3:]}

_En porcentaje, hubo un {porcentaje_muertes_infeccion}% de muertes por cada nueva infección **detectada** en este día._


_\*Nota: Este dato no es lo mismo que la taza de mortalidad, que es la frecuencia con que ocurren las muertes en la población total de personas infectadas durante un período determinado. Aquí no tenemos la totalidad de los casos, sino simplemente los casos de infecciones __en este día__._"""))

#### En el día 01/04/2020, al rededor del mundo hubo:

- Casos: 73,512
- Muertes: 4,614

_En porcentaje, hubo un 15.93% de muertes por cada nueva infección **detectada** en este día._


_\*Nota: Este dato no es lo mismo que la taza de mortalidad, que es la frecuencia con que ocurren las muertes en la población total de personas infectadas durante un período determinado. Aquí no tenemos la totalidad de los casos, sino simplemente los casos de infecciones __en este día__._

### 3.5. Ahora veamos cuáles son los casos reportados totales de personas infectadas y de muertes hasta la actualización más reciente**
Nota que los casos reportados no son los casos "activos" ya que no contamos con información sobre los casos recuperados. Podríamos buscar esta información de otra fuente, pero para simplificar este análisis, aquí no lo haremos.

In [197]:
totales_mundo = datos_mundo[['countriesAndTerritories', 'cases', 'deaths']]
totales_mundo = totales_mundo.groupby(['countriesAndTerritories']).sum()
totales_mundo.head(mostrar_los_primeros_n)

                         cases  deaths
countriesAndTerritories
Afghanistan                235       4
Albania                    277      16
Algeria                    847      58
Andorra                    428      15
Angola                       8       2

*Totales ordenados por casos:*

In [203]:
totales_mundo_casos = totales_mundo.sort_values(by=['cases'], ascending=False)
totales_mundo_casos.head(mostrar_los_primeros_n)

                           cases  deaths
countriesAndTerritories
United_States_of_America  245540    6053
Italy                     115242   13917
Spain                     110238   10003
China                      82465    3326
Germany                    73522     872

*Totales ordenados por muertes:*

In [205]:
totales_mundo_muertes = totales_mundo.sort_values(by=['deaths'], ascending=False)
totales_mundo_muertes.head(mostrar_los_primeros_n)

                           cases  deaths
countriesAndTerritories
Italy                     115242   13917
Spain                     110238   10003
United_States_of_America  245540    6053
France                     59105    4503
China                      82465    3326

*Suma de todos los casos y muerte al rededor del mundo*

In [214]:
# Cálculos
suma_mundial_casos = totales_mundo_casos['cases'].sum()
suma_mundial_muertes = totales_mundo_muertes['deaths'].sum()
porcentaje_muertes_infeccion = round(suma_mundial_casos/suma_mundial_muertes, 2)

# Para imrpimir con coma
suma_mundial_casos = str(suma_mundial_casos)
suma_mundial_muertes = str(suma_mundial_muertes)

# Mostrar
display(Markdown(f"""
#### La suma de todos los datos hasta el día: {dia_que_nos_interesa}, al rededor del mundo hubo:

- Casos: {suma_mundial_casos[0:-3]},{suma_mundial_casos[-3:]}
- Muertes: {suma_mundial_muertes[0:-3]},{suma_mundial_muertes[-3:]}

_En porcentaje, hubo un {porcentaje_muertes_infeccion}% de muertes por cada nueva infección **detectada** hasta esta fecha._


_\*Nota: De nuevo, este dato no es lo mismo que la taza de mortalidad ya que aquí solamente estamos tomando en cuenta el número de casos detectados, pero en realidad la taza de mortalidad debe de ser más baja dado el número alto de personas infectadas que permanecen asintomáticas y no se detectan (hasta Abril, 2020, la mayoría de los países no hacen pruebas generalizadas, sino que se enfocan en hacerle pruebas a los casos sospechosos o que tengan síntomas muy específicos)._"""))

#### La suma de todos los datos hasta el día: 01/04/2020, al rededor del mundo hubo:

- Casos: 1000,249
- Muertes: 51,515

_En porcentaje, hubo un 19.42% de muertes por cada nueva infección **detectada** hasta esta fecha._


_\*Nota: De nuevo, este dato no es lo mismo que la taza de mortalidad ya que aquí solamente estamos tomando en cuenta el número de casos detectados, pero en realidad la taza de mortalidad debe de ser más baja dado el número alto de personas infectadas que permanecen asintomáticas y no se detectan (hasta Abril, 2020, la mayoría de los países no hacen pruebas generalizadas, sino que se enfocan en hacerle pruebas a los casos sospechosos o que tengan síntomas muy específicos)._

## Paso #4: Exploremos los datos de México en relación a otros países

#### 4.1 Seleccionar los países que nos interesa comparar
> \* En 4.2 crearé tablas para México ('Mexico'), Argentina ('Argentina'), Estados Unidos ('United_States_of_America') y Francia ('France'), pero tú puedes cambiar los países. Te dejo la lista completa de países al final de este documento.

*Yo seleccioné los países mencionados, pero tú puedes seleccionar los países que quieras para compararlos. Para hacerlo, cambia en la línea de abajo os países que te interesan comparar.*

In [236]:
PAIS_1 = 'Mexico' # México 
PAIS_2 = 'Argentina' # Argentina
PAIS_3 = 'United_States_of_America' # Estados Unidos 
PAIS_4 = 'France' # Francia

#### 4.2 Creemos tablas para cada país que nos interesa
> ¿Por qué vamos a explorar México, Argentina, Estados Unidos y Francia? 
    > La decisión de tomar estos países fue la siguiente:
        > 1.  México, como Estados Unidos, ha tomado medidas de mitigación. ¿Qué significa esto?
            > El caso de mitigación es el siguiente: “Es imposible prevenir el coronavirus. Dejemos que siga su curso mientras intentamos reducir el pico de infecciones. Aplastemos la curva para que sea más manejable para el sistema de salud.” ([Tomas Pueyo, 19 de marzo de 2020](https://medium.com/tomas-pueyo/coronavirus-el-martillo-y-la-danza-32abc4dd4ebb))

> 2. Tanto Argentina como Francia han tomado medidas de supresión:
> El caso de la supresión es el siguiente: "[...] la estrategia de supresión trata de aplicar medidas duras para controlar rápidamente la epidemia. Específicamente:
Aplicar medidas duras ahora mismo. Ordenar un duro distanciamiento social. Poner esta situación bajo control.
Eventualmente, relajar las medidas, de forma que la gente pueda recuperar gradualmente sus libertades y pueda reanudar algo parecido a una vida social y económica normal." ([idem.](https://medium.com/tomas-pueyo/coronavirus-el-martillo-y-la-danza-32abc4dd4ebb))

> 3. El desarrollo de México y Argentina ha sido similar en cuanto al número de casos hasta la fase 3, declarada en México el 01 de abril de 2020. Estimo que las medidas más restringentes de Argentina tendrán un impacto mayor en la reducción del contagio. **No me declaro a favor de ninguna de las dos posturas. Aunque el debate es interesante, aquí vamos a ver de la manera más objetiva que nos permitan los datos limitados que tenemos el desarrollo de la situación, aunque con la información que tenemos es impsible saber por cierto cuál es el efecto de las políticas sanitarias en cada situación ya que hay muchos más factores que tomar en cuenta como el acceso de la población al sistema de salud, el nivel socioeconómico promedio de la población, etc...**:

> 4. El desarrollo de Estados Unidos y de Francia ha sido similar en cuanto al número de casos hasta la fase 3. El día 11 de marzo, Donald Trump impuso [una restricción de viaje](https://travel.state.gov/content/travel/en/traveladvisories/ea/covid-19-information.html) al [aera Schengen de Europa](https://www.google.com/search?q=Schengen&rlz=1C5CHFA_enUS794US794&oq=Schengen&aqs=chrome..69i57.167j0j7&sourceid=chrome&ie=UTF-8) ya que, desde su punto de vista, los países europeos no estaban haciendo lo suficiente para impedir el ingreso del Coronavirus desde China hacia sus países: "The European Union failed to take the same precautions and restrict travel from China and other hot spots.  As a result, a large number of new clusters in the United States were seeded by travelers from Europe." ([Trump, 11 de agisto de 2020](https://www.nytimes.com/2020/03/11/us/politics/trump-coronavirus-speech.html?action=click&module=RelatedLinks&pgtype=Article)). En ese momento, Estados Unidos contaba con X personas infectadas y Francia con Y. Sin embargo, desde mediados de marzo, Francia ha adoptado medidas de supreción, como lo hizo Argentina al rededor de las mismas fechas en contraste con Estados Unidos y México que hasta cerca de abril optaron poco a poco por cambiar su estrategia de mitigación a supresión.

**Crear las tablas de México, Argentina, Estados Unidos y Francia:**

In [218]:
datos_pais_1 = datos_mundo[datos_mundo['countriesAndTerritories']==PAIS_1] # México
datos_pais_2 = datos_mundo[datos_mundo['countriesAndTerritories']==PAIS_2] # Argentina
datos_pais_3 = datos_mundo[datos_mundo['countriesAndTerritories']==PAIS_3] # Estados Unidos
datos_pais_4 = datos_mundo[datos_mundo['countriesAndTerritories']==PAIS_4] # Francia

#### 4.3. Comparar infecciones y muertes hasta esta versión

**4.3.1. Número infecciones**

In [235]:
display(Markdown(f""" #### Número de infecciones y muertes en {PAIS_1}, {PAIS_2}, {PAIS_3}, y {PAIS_4}
(hasta esta versión):

- {PAIS_1} 
    - casos: {datos_pais_1['cases'].sum()}, muertes: {datos_pais_1['deaths'].sum()}
- {PAIS_2} 
    - casos: {datos_pais_2['cases'].sum()}, muertes: {datos_pais_2['deaths'].sum()}
- {PAIS_3} 
    - casos: {datos_pais_3['cases'].sum()}, muertes: {datos_pais_3['deaths'].sum()}
- {PAIS_4} 
    - casos: {datos_pais_4['cases'].sum()}, muertes: {datos_pais_4['deaths'].sum()}
"""))

 #### Número de infecciones y muertes en Mexico, Argentina, United_States_of_America, y France
(hasta esta versión):

- Mexico
    - casos: 1378, muertes: 37
- Argentina
    - casos: 1133, muertes: 34
- United_States_of_America
    - casos: 245540, muertes: 6053
- France
    - casos: 59105, muertes: 4503

**4.3.2. Porcentaje de infecciones de acuerdo con la población (2018) de cada país.**
\*Para México utilizamos la estimación del 2019 del Consejo Nacional de Población[https://www.gob.mx/conapo/documentos/la-situacion-demografica-de-mexico-2019] ya que no existen censos actuales y los datos del ECDC no contienen estimados de la población mexicana. El estimado para México es de 126,577,691 habitantes.

In [194]:
mx_habitantes = 126577691

In [195]:
import matplotlib.pyplot as plt
from pandas.plotting import andrews_curves
mx2 = mx
mx3.sort_values(by=['dateRep'], ascending=True)
print(mx3.head())
plt.plot_date(mx3.dateRep, mx3.deaths, 'b-', linewidth=0.5)

NameError: name 'mx3' is not defined

In [ ]:
from matplotlib.dates import DayLocator, HourLocator, DateFormatter, drange

def plot_ts(df, field):
    dates = df["dateRep"]
    values = df[field]
    vals = list()
    dts = list()
    for i, j in enumerate(dates):
        dts.append(dates.iloc[i])
        vals.append(values.iloc[i])
    a = plt.plot_date(dts, vals, 'b-', linewidth=0.5)#, dts
    return a

fig, ax = plt.subplots()
ax.set_xlim(100, 0)  # decreasing time
fig.autofmt_xdate()
ax.set_ylabel('número')
ax.set_title('Should be growing...')
plt.tight_layout()
ax.xaxis.set_major_locator(plt.MaxNLocator(3))
ax.yaxis.set_major_locator(plt.MaxNLocator(5))
ax.grid(True)
ax = plot_ts(mx3, 'cases')
mx3.head()

#### 4.4. Comparar trayectorias de infecciones y muertes hasta esta versión
La comparación se hace por medio de pruebas de estudiante (student t-tests). Aunque podríamos hacer análisis estadísticos más complejos, para esta exploración nos bastará hacer pruebas simples comparando a México con cada país.

In [ ]:
from scipy.stats import ttest_ind

# México en comparación a Argentina
mx_ar_casos = ttest_ind(mx['cases'], ar['cases'])
mx_ar_muertes = ttest_ind(mx['deaths'], ar['deaths'])

# Estados Unidos en comparación a Francia
us_fr_casos = ttest_ind(us['cases'], fr['cases'])
us_fr_muertes = ttest_ind(us['deaths'], fr['deaths'])

# México en comparación a Estados Unidos
mx_us_casos = ttest_ind(mx['cases'], us['cases'])
mx_us_muertes = ttest_ind(mx['deaths'], us['deaths'])

# México en comparación a Francia
mx_fr_casos = ttest_ind(mx['cases'], fr['cases'])
mx_fr_muertes = ttest_ind(mx['deaths'], fr['deaths'])

display(Markdown(f'\n### México en comparación a Argentina'))
display(Markdown(f"""#### Casos
> statistic = {mx_ar_casos.statistic} significance = {mx_ar_casos.pvalue}"""))
display(Markdown(f"""#### Muertes
> statistic = {mx_ar_muertes.statistic} significance = {mx_ar_muertes.pvalue}"""))
display(Markdown(f'\n### Estados Unidos en comparación a Francia'))
display(Markdown(f"""#### Casos
> statistic = {us_fr_casos.statistic} significance = {us_fr_casos.pvalue}"""))
display(Markdown(f"""#### Muertes
> statistic = {us_fr_muertes.statistic} significance = {us_fr_muertes.pvalue}"""))
display(Markdown(f'\n### México en comparación a Estados Unidos'))
display(Markdown(f"""#### Casos
> statistic = {mx_us_casos.statistic} significance = {mx_us_casos.pvalue}"""))
display(Markdown(f"""#### Muertes
> statistic = {mx_us_muertes.statistic} significance = {mx_us_muertes.pvalue}"""))
display(Markdown(f'\n### México en comparación a Francia'))
display(Markdown(f"""#### Casos
> statistic = {mx_fr_casos.statistic} significance = {mx_fr_casos.pvalue}"""))
display(Markdown(f"""#### Muertes
> statistic = {mx_fr_muertes.statistic} significance = {mx_fr_muertes.pvalue}"""))

## Lista de países y territorios en los datos de esta versión
El código a continuación extrae los países y territorios representados en esta versión de los datos.
Espero que esto te ayude a explorar más adelante sustituyendo el nombre de los países que yo seleccioné por el nombre de los países que tú quieras explorar:

In [ ]:
from collections import defaultdict
def_dict = defaultdict(list)

for pais in lista_paises:
    def_dict[pais[0]].append(pais)

for letra in def_dict.keys():
    display(Markdown(f""" #### {letra}:
    {def_dict[letra]}"""))

# Referencias y agradecimientos:

- Este recurso está inspirado en el artículo de Matt Makai, el cual recomiendo para quienes sepan programar en Python, pero no estén familiarizados con la librería Pandas.
> Makai, M. "Learning pandas by Exploring COVID-19 Data." Full Stack Python. 28 de marzo de 2020. En línea: https://www.fullstackpython.com/blog/learn-pandas-basic-commands-explore-covid-19-data.html 
- Puedes interactuar con este artículo gracias a:
> Jupyter et al., "Binder 2.0 - Reproducible, Interactive, Sharable Environments for Science at Scale." Proceedings of the 17th Python in Science Conference. 2018. doi://10.25080/Majora-4af1f417-011
- El fantástico artículo de Tomás pueyo lo pueden encontrar aquí:
> Pueyo, T. "Coronavirus: The Hammer and the Dance." Medium. 19 de marzo de 2020. En línea: https://medium.com/@tomaspueyo/coronavirus-the-hammer-and-the-dance-be9337092b56

    > Versión en español traducida por Tito Hubert: https://medium.com/tomas-pueyo/coronavirus-el-martillo-y-la-danza-32abc4dd4ebb